.controller-container {
  background-color: #d3d3d3;
  border-radius: 1em;
  width: auto;
  margin: 0.5em;
  padding: 1em;
}

.motor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.controller-container h2 {
  margin: 0;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controller-color-box {
  content: "";
  height: 70px;
  width: 50px;
  align-self: center;
  border-radius: 1em;
}

@media only screen and (min-width: 1024px) {
  .controller-container {
    flex-direction: row;
  }
}
