/* containers */

.controller-container {
  border: 5px solid black;
  background-color: #e8e8e8;
  border-radius: 1em;
  max-width: 15em;
  margin: 0.5em;
}

.controller-container h2 {
  margin: 0;
  padding: 0.5em;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generic-container {
  padding: 0em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.joystick-container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.up-down-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.up-down-container button {
  min-width: 4em;
  max-width: 4em;
  max-height: 4em;
  min-height: 4em;
  padding: 0em;
  margin: 0;
  padding: 0;
}

/* inputs */

.button-styles {
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  color: white;
  min-width: 10em;
  max-width: 10em;
  margin: 1em;
}

input[type="number"] {
  padding: 1em;
  border: 1px solid black;
  border-radius: 0.5em;
}

.power-display {
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media only screen and (min-width: 1024px) {
  .controller-container {
    flex-direction: row;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
